- content_for(:title) { t(".title") }

%table.table.table-striped
  %thead
    %tr
      %th= Certificate.human_attribute_name :subject
      %th= Certificate.human_attribute_name :serial
      - if can? :revoke, Certificate
        %th
      - if can? :destroy, Certificate
        %th
  %tbody
    - @certificates.each do |certificate|
      %tr
        - certificate = certificate.becomes(Certificate) if certificate.issuer
        - if certificate.is_a? CertificateAuthority
          %td= link_to certificate_icon(certificate, text: certificate.subject), certificate
        - else
          %td= link_to certificate_icon(certificate, text: certificate.subject), [@certificate_authority, certificate]
        %td
          %code= certificate.serial
        - if can?(:revoke, certificate)
          %td
            - if certificate.revoked_at.nil? && certificate.not_after.future?
              - if !certificate.is_a? CertificateAuthority
                = link_to t(".revoke"), revoke_certificate_authority_certificate_path(@certificate_authority, certificate), method: :patch, data: { confirm: t(".confirm") }, class: "btn btn-warning btn-xs pull-right"
        - if can? :destroy, certificate
          %td= link_to t(".destroy"), [@certificate_authority, certificate], method: :delete, data: { confirm: t(".confirm") }, class: "btn btn-danger btn-xs"

= link_to t(".new"), new_certificate_authority_certificate_path(@certificate_authority), class: "btn btn-default"
