- content_for(:title) { abbr_subject(@certificate.subject) }

- if @certificate.revoked_at
  .alert.alert-danger
    %h4 Certificate revoked
    %p
      This certificate was revoked on
      = l @certificate.revoked_at

%p
  %b Subject:
  %br
  %code= @certificate.subject
%p
  %b Issuer:
  %br
  %code= @certificate.issuer.subject
%p
  %b Serial:
  %br
  %code= @certificate.serial
%p
  %b Validity:
  %br
  = l @certificate.not_before
  to
  = l @certificate.not_after
%p
  %b Certificate
  %pre= @certificate.certificate
