- content_for(:title) { t(".title", name: @authority.name) }

%p
  %b Name:
  = @authority.name

%p
  - if can?(:update, @authority)
    = link_to t('.edit'), edit_authority_path(@authority), class: "btn btn-default"  if can? :edit, @authority
  - if !@authority.committed? && can?(:manage, SubjectAttribute)
    = link_to t('.attributes'), authority_subject_attributes_path(@authority), class: "btn btn-default"
  - if !@authority.committed? && can?(:commit, Authority)
    = link_to t('.commit'), commit_authority_path(@authority), class: "btn btn-success", method: :put

.panel.panel-default
  .panel-heading
    .panel-title
      = t(".managers")
      = link_to content_tag(:i, "", class: "icon-edit") + " " + t(".users"), authority_users_path(@authority), class: "btn btn-link btn-xs pull-right"
      .badge= @authority.users.count
  .panel-body
    - @authority.users.each do |user|
      - if user == current_user
        .label.label-primary= user.email
      - else
        .label.label-default= user.email

- if @authority.committed?
  = link_to t(".manage_certificates"), authority_certificates_path(@authority), class: "btn btn-warning"
