- content_for(:title) { t(".title", name: @authority.name) }

%p
  %b Name:
  = @authority.name

%p
  = link_to t('.edit'), edit_authority_path(@authority), class: "btn btn-default"  if can? :edit, @authority
  = link_to t('.attributes'), authority_subject_attributes_path(@authority), class: "btn btn-default"

.panel.panel-default
  .panel-heading
    .panel-title
      = t(".managers")
      .badge= @authority.users.count
  .panel-body
    - @authority.users.each do |user|
      - if user == current_user
        .label.label-primary= user.email
      - else
        .label.label-default= user.email

= link_to t(".manage_certificates"), authority_certificates_path(@authority), class: "btn btn-warning"
