= simple_form_for @certificate_authority do |f|
  = f.input :subject
  = f.input :key_length
  = f.input :password
  = f.input :password_confirmation
  = f.input :policy_id, collection: Policy.order(:name).map { |policy| [policy.name, policy.id] }
  = f.input :valid_until, placeholder: '20 years from now'
  = f.input :certify_for, placeholder: '2 years from now'
  = f.input :issuer_id, collection: CertificateAuthority.all.map{ |ca| [ca.subject, ca.id] }
  = f.input :issuer_password
  = f.input :export_root
  = f.submit t('.save'), class: "btn btn-primary"
  = link_to t('.back'), ( @certificate_authority.persisted? ? certificate_authority_path(@certificate_authority) : certificate_authorities_path  ), class: "btn btn-link"
