= content_for(:title, t(".title"))

%table.table.table-striped
  %thead
    %tr
      %th= Policy.human_attribute_name :name
      %th.col-lg-1
      %th.col-lg-1

  %tbody
    - @policies.each do |policy|
      %tr
        %td= link_to policy.name, policy
        %td= link_to t(".edit"), edit_policy_path(policy), class: "btn btn-link btn-xs" if can?(:edit, policy)
        %td= link_to t(".destroy"), policy, method: :delete, data: { confirm: t(".confirm") }, class: "btn btn-danger btn-xs" if can?(:destroy, policy)

= link_to t(".new"), new_policy_path, class: "btn btn-default" if can?(:create, Policy)
